In [202]:
import numpy as np
import pandas as pd
from collections import Counter
from itertools import combinations

In [203]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1222,tt2191701,80000000,246984278,Grown Ups 2,Adam Sandler|Kevin James|Chris Rock|David Spad...,Dennis Dugan,Just because they're a little older doesn't me...,The all-star comedy cast from Grown Ups return...,100,Comedy,Columbia Pictures|Happy Madison Productions|So...,7/11/2013,5.9,2013
1307,tt2431286,12000000,100129872,Philomena,Judi Dench|Steve Coogan|Sophie Kennedy Clark|M...,Stephen Frears,These two unlikely companions are on a journey...,"A woman searches for her adult son, who was ta...",98,Drama,BBC Films|The Weinstein Company|Baby Cow Produ...,11/1/2013,7.4,2013
465,tt1226753,20000000,45636368,The Debt,Helen Mirren|Sam Worthington|Jessica Chastain|...,John Madden,The secret is only the beginning,Rachel Singer is a former Mossad agent who tri...,113,Drama|Thriller,Miramax Films|Marv Films|Pioneer Pictures,4/11/2010,6.1,2010
977,tt1446714,130000000,403170142,Prometheus,Noomi Rapace|Michael Fassbender|Charlize Thero...,Ridley Scott,The Search for Our Beginning Could Lead to Our...,A team of explorers discover a clue to the ori...,124,Science Fiction|Adventure|Mystery,Twentieth Century Fox Film Corporation|Dune En...,5/30/2012,6.2,2012
883,tt0258000,48000000,196397415,Panic Room,Jodie Foster|Kristen Stewart|Forest Whitaker|D...,David Fincher,It was supposed to be the safest room in the h...,Trapped in their New York brownstone's panic r...,112,Crime|Drama|Thriller,Columbia Pictures Corporation|Hofflund/Polone|...,3/29/2002,6.4,2002

In [204]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [205]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# let's create a new column with "profit" values:
# Создаем новый столбец со значением “прибыль”:
data['profit'] = data.revenue - data.budget

# столбцы содержат разделитель '|' между названиями
# создадим списоки без раделителей
data['genres'] = data['genres'].apply(lambda x: x.split('|'))
data['cast'] = data['cast'].str.split('|')
data['production_companies'] = data['production_companies'].str.split('|')

genres_data = data['genres'].explode()


# let's make a dataframe containing "Action" genre
action_movies = data[data.genres.str.contains('Action', na=False)].copy()

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [206]:
answers['1'] = "+ 5. Pirates of the Caribbean: On Stranger Tides (tt1298650)"
# если ответили верно, можете добавить комментарий со значком "+"

In [207]:
big_budget_id = ['tt1345836','tt0413300','tt2395427','tt1032751','tt1298650']
data.loc[data['imdb_id'].isin(big_budget_id)].sort_values('budget', ascending=False)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,"[Johnny Depp, PenÃ©lope Cruz, Geoffrey Rush, I...",Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,"[Adventure, Action, Fantasy]","[Walt Disney Pictures, Jerry Bruckheimer Films...",5/11/2011,6.3,2011,641683000
14,tt2395427,280000000,1405035767,Avengers: Age of Ultron,"[Robert Downey Jr., Chris Hemsworth, Mark Ruff...",Joss Whedon,A New Age Has Come.,When Tony Stark tries to jumpstart a dormant p...,141,"[Action, Adventure, Science Fiction]","[Marvel Studios, Prime Focus, Revolution Sun S...",4/22/2015,7.4,2015,1125035767
1676,tt0413300,258000000,890871626,Spider-Man 3,"[Tobey Maguire, Kirsten Dunst, James Franco, T...",Sam Raimi,The battle within.,The seemingly invincible Spider-Man goes up ag...,139,"[Fantasy, Action, Adventure]","[Columbia Pictures, Laura Ziskin Productions, ...",5/1/2007,5.8,2007,632871626
972,tt1345836,250000000,1081041287,The Dark Knight Rises,"[Christian Bale, Michael Caine, Gary Oldman, A...",Christopher Nolan,The Legend Ends,Following the death of District Attorney Harve...,165,"[Action, Crime, Drama, Thriller]","[Legendary Pictures, Warner Bros., DC Entertai...",7/16/2012,7.5,2012,831041287

ВАРИАНТ 2

In [208]:
data[data.budget == data.budget.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,"[Johnny Depp, PenÃ©lope Cruz, Geoffrey Rush, I...",Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,"[Adventure, Action, Fantasy]","[Walt Disney Pictures, Jerry Bruckheimer Films...",5/11/2011,6.3,2011,641683000

# 2. Какой из фильмов самый длительный (в минутах)?

In [209]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '+ 2. Gods and Generals (tt0279111)'

In [210]:
data[data.runtime == data.runtime.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1157,tt0279111,56000000,12923936,Gods and Generals,"[Stephen Lang, Jeff Daniels, Robert Duvall, Ke...",Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,"[Drama, History, War]","[Turner Pictures, Antietam Filmworks]",2/21/2003,5.8,2003,-43076064

# 3. Какой из фильмов самый короткий (в минутах)?

In [211]:
answers['3'] = "+ 3. Winnie the Pooh (tt1449283)"

In [212]:
data[data.runtime == data.runtime.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
768,tt1449283,30000000,14460000,Winnie the Pooh,"[Jim Cummings, Travis Oates, Jim Cummings, Bud...",Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,"[Animation, Family]","[Walt Disney Pictures, Walt Disney Animation S...",4/13/2011,6.8,2011,-15540000

# 4. Какова средняя длительность фильмов?

In [213]:
answers['4'] = '+ 2. 110'

In [214]:
mean_runtime = round(data['runtime'].mean())
mean_runtime

110

# 5. Каково медианное значение длительности фильмов?

In [215]:
answers['5'] = '+ 1. 107'

In [216]:
runtime_median = round(data['runtime'].median())
runtime_median

107

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [217]:
answers['6'] = '+ 5. Avatar (tt0499549)'

In [218]:
data.loc[data['profit'] == data['profit'].max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,"[Sam Worthington, Zoe Saldana, Sigourney Weave...",James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,"[Action, Adventure, Fantasy, Science Fiction]","[Ingenious Film Partners, Twentieth Century Fo...",12/10/2009,7.1,2009,2544505847

# 7. Какой фильм самый убыточный?

In [219]:
answers['7'] = '+ 5. The Lone Ranger (tt1210819)'

In [220]:
data.loc[data['profit'] == data['profit'].min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,"[Johnny Depp, Armie Hammer, William Fichtner, ...",Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,"[Action, Adventure, Western]","[Walt Disney Pictures, Jerry Bruckheimer Films...",7/3/2013,6.0,2013,-165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [221]:
answers['8'] = '+ 1. 1478'

In [222]:
data[data['revenue'] > data['budget']].imdb_id.count()

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [223]:
answers['9'] = "+ 4. The Dark Knight (tt0468569)"

In [224]:
data[data['release_year'] == 2008].sort_values('revenue', ascending=False)[:1]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,"[Christian Bale, Michael Caine, Heath Ledger, ...",Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,"[Drama, Action, Crime, Thriller]","[DC Comics, Legendary Pictures, Warner Bros., ...",7/16/2008,8.1,2008,816921825

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [225]:
answers['10'] = "+ 5. The Lone Ranger (tt1210819)"

In [226]:
data[(data['release_year'] > 2012) & (data['release_year'] < 2015) & (data['profit'] == data['profit'].min())]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,"[Johnny Depp, Armie Hammer, William Fichtner, ...",Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,"[Action, Adventure, Western]","[Walt Disney Pictures, Jerry Bruckheimer Films...",7/3/2013,6.0,2013,-165710090

# 11. Какого жанра фильмов больше всего?

In [227]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

In [228]:
answers['11'] = "+ 3. Drama"

In [229]:
genres_data.value_counts().sort_values(ascending=False).head(1)

Drama    782
Name: genres, dtype: int64

ВАРИАНТ 2

In [230]:
#pd.DataFrame(data['genres'].str.split('|').tolist()).stack().value_counts().head(1)

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [231]:
answers['12'] = "+ 1. Drama"

In [232]:
# separating genres to different raws
# Разделение жанров на группы
most_profit_genre = data.explode('genres')

# Leaving only profitable movies:
# Оставляя только прибыльные фильмы:
most_profit_genre = most_profit_genre[most_profit_genre['profit'] > 0]

# counting entries:
# Считаем прибыльные жанры:
most_profit_genre['genres'].value_counts().head(2)

Drama     560
Comedy    551
Name: genres, dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [233]:
answers['13'] = "+ 5. Peter Jackson"

In [234]:
data.groupby(['director'])['revenue'].sum().sort_values(ascending=False).head(2)

director
Peter Jackson        6490593685
Christopher Nolan    4167548502
Name: revenue, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [235]:
answers["14"] = "+ 3. Robert Rodriguez"

In [236]:
def counter(movie_bd, x):
    data_plot=movie_bd[x].str.cat(sep='|')
    dat=pd.Series(data_plot.split('|'))
    info=dat.value_counts(ascending=False)
    return info
sum_gen = counter(data[data['genres'].map(lambda x: True if 'Action' in x else False)],'director')
print(sum_gen)

Robert Rodriguez      9
Paul W.S. Anderson    7
Michael Bay           7
Antoine Fuqua         6
Ridley Scott          6
                     ..
Tamra Davis           1
Steve Carr            1
Tommy Wirkola         1
Noam Murro            1
Jeff Wadlow           1
Length: 364, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [237]:
answers['15'] = "+ 3. Chris Hemsworth"

In [238]:
profit_actor_2012 = data[data.release_year == 2012]
profit_actor_2012 = profit_actor_2012.explode('cast')
profit_actor_2012.groupby('cast').revenue.sum().sort_values(ascending=False)

cast
Chris Hemsworth      2027450773
Denis Leary          1629460639
Anne Hathaway        1522851057
Chris Evans          1519557910
Robert Downey Jr.    1519557910
                        ...
Jason Bateman           3428048
Danny Huston            2106557
Sami Gayle              2106557
Josh Lucas              2106557
Nicolas Cage            2106557
Name: revenue, Length: 466, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [239]:
answers['16'] = "+ 3. Matt Damon"

In [240]:
top_actor = data[data.budget > data.budget.mean()]
top_actor = top_actor.explode('cast')
top_actor.cast.value_counts()

Matt Damon           18
Adam Sandler         17
Angelina Jolie       16
Samuel L. Jackson    15
Tom Cruise           15
                     ..
Mary Alice            1
Tracey Ullman         1
Juliette Binoche      1
Jennifer Beals        1
Ben Reed              1
Name: cast, Length: 1505, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [241]:
answers['17'] = "+ 2. Action"

In [242]:
cage_genres = data.explode("cast")
cage_genres = cage_genres[cage_genres.cast == "Nicolas Cage"]
cage_genres = cage_genres.explode("genres")
cage_genres.genres.value_counts()

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Family              3
Mystery             3
Animation           3
History             2
Horror              1
Romance             1
War                 1
Name: genres, dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [243]:
answers['18'] = "+ 1. K-19: The Widowmaker (tt0267626)"

In [244]:
paramount_data = data.explode("production_companies")
paramount_data = paramount_data[paramount_data.production_companies == 'Paramount Pictures']
paramount_data.loc[paramount_data.profit == paramount_data.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
925,tt0267626,100000000,35168966,K-19: The Widowmaker,"[Harrison Ford, Liam Neeson, Peter Sarsgaard, ...",Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,"[Thriller, Drama, History]",Paramount Pictures,7/19/2002,6.0,2002,-64831034

ВАРИАНТ 2

In [245]:
#data[data['production_companies'].str.contains('Paramount Pictures')].sort_values('profit')[['profit', 'original_title']]

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [246]:
answers['19'] = "+ 5. 2015"

In [247]:
data.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False).head(2)

release_year
2015    25449202382
2014    23405862953
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [248]:
answers['20'] = "+ 1. 2014"

In [249]:
warner_data = data.explode("production_companies")
warner_data = warner_data[warner_data.production_companies.str.contains('Warner')]
warner_data.groupby("release_year").profit.sum().sort_values(ascending=False).head(2)

release_year
2014    2292949646
2007    2208217007
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [250]:
answers['21'] = "+ 4. Сентябрь"

In [251]:
data['month'] = data.apply(lambda x: x['release_date'].split('/')[0], axis=1)
data.groupby(['month']).imdb_id.count().sort_values(ascending=False).head(2)

month
9     227
12    190
Name: imdb_id, dtype: int64

ВАРИАНТ 2

In [252]:

# создадим новый столбец с названием месяца
data['month_of_release'] = pd.to_datetime(data['release_date'], infer_datetime_format=True).dt.strftime('%b')
temp_group = data.groupby('month_of_release')['profit'].count().sort_values(ascending=False)
temp_group.head(2)

month_of_release
Sep    227
Dec    190
Name: profit, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [253]:
answers['22'] = "+ 2. 450"

In [254]:
data[data.month.isin(['6', '7', '8'])].imdb_id.count()

450

ВАРИАНТ 2

In [255]:
temp_group['Jun']+temp_group['Aug']+temp_group['Jul']

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [256]:
answers['23'] = "+ 5. Peter Jackson"

In [257]:
winter_data = data[data.month.isin(['1', '2', '12'])]
directors = set(winter_data.director.str.cat(sep='|').split('|'))
pd.Series({x: (winter_data[
                    (winter_data.director.str.contains(x))
                    ].director.count()) for x in directors}
         ).sort_values(ascending=False)

Peter Jackson        7
Clint Eastwood       6
Steven Soderbergh    6
Nancy Meyers         4
Adam Shankman        4
                    ..
Joel Zwick           1
Jon Turteltaub       1
Craig Brewer         1
Jeremy Garelick      1
Sara Sugarman        1
Length: 358, dtype: int64

ВАРИАНТ 2

In [258]:
list_winter = ['Dec', 'Jan', 'Feb']
director_in_winter_counter = Counter()
for i in range(len(data)):
    if (data.iloc[i]['month_of_release'] in list_winter):  #если месяц зимний делаем
        temp_list = data.iloc[i]['director'].split('|')
        for director in temp_list:
            director_in_winter_counter[director] += 1  # вместо прибыли ставим 1
    else:
        continue

director_in_winter_counter.most_common(1)

[('Peter Jackson', 7)]

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [259]:
answers['24'] = "+ 5. Four By Two Productions"

In [260]:
title_data = data.explode('production_companies')

# столбец с количеством слов
title_data['title_len'] = title_data['original_title'].apply(len)

title_data.groupby('production_companies')['title_len'].mean().sort_values(ascending=False).head(5)

production_companies
Four By Two Productions      83.0
Jim Henson Company, The      59.0
Dos Corazones                47.0
Museum Canada Productions    46.0
Polsky Films                 46.0
Name: title_len, dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [261]:
answers['25'] = "+ 3. Midnight Picture Show"

In [262]:
overview_data = data.explode('production_companies')

# adding a column with the quantity of words:
overview_data['overview_len'] = overview_data['overview'].str.split().apply(len)

overview_data.groupby('production_companies')['overview_len'].mean().sort_values(ascending=False).head(5)

production_companies
Midnight Picture Show               175.0
Room 9 Entertainment                161.0
98 MPH Productions                  159.0
Heineken Branded Entertainment      159.0
Brookwell-McNamara Entertainment    156.0
Name: overview_len, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

#### Варианты ответов

* 1) Inside Out, The Dark Knight, 12 Years a Slave
* 2) BloodRayne, The Adventures of Rocky & Bullwinkle
* 3) Batman Begins, The Lord of the Rings: The Return of the King, Upside Down
* 4) 300, Lucky Number Slevin, Kill Bill: Vol. 1
* 5) Upside Down, Inside Out, Iron Man

In [263]:
answers['26'] = "+ 1. Inside Out, The Dark Knight, 12 Years a Slave"

In [264]:
persent_limit = data['vote_average'].quantile(0.99)

data.loc[data['vote_average']>persent_limit][['original_title','vote_average']].sort_values('vote_average', ascending = False)

                                     original_title  vote_average
599                                 The Dark Knight           8.1
9                                        Inside Out           8.0
34                                             Room           8.0
118                                    Interstellar           8.0
125                              The Imitation Game           8.0
119                         Guardians of the Galaxy           7.9
128                                       Gone Girl           7.9
138                        The Grand Budapest Hotel           7.9
370                                       Inception           7.9
872                                     The Pianist           7.9
1081  The Lord of the Rings: The Return of the King           7.9
1183                        The Wolf of Wall Street           7.9
1191                               12 Years a Slave           7.9
1800                                        Memento           7.9

ВАРИАНТ 2

In [265]:
sort_data = data[['imdb_id', 'original_title', 'vote_average']].sort_values('vote_average', ascending = False)
sort_data[sort_data['vote_average'] > sort_data['vote_average'].quantile(0.99)]

        imdb_id                                 original_title  vote_average
599   tt0468569                                The Dark Knight           8.1
118   tt0816692                                   Interstellar           8.0
125   tt2084970                             The Imitation Game           8.0
9     tt2096673                                     Inside Out           8.0
34    tt3170832                                           Room           8.0
1183  tt0993846                        The Wolf of Wall Street           7.9
128   tt2267998                                      Gone Girl           7.9
1191  tt2024544                               12 Years a Slave           7.9
119   tt2015381                        Guardians of the Galaxy           7.9
1081  tt0167260  The Lord of the Rings: The Return of the King           7.9
1800  tt0209144                                        Memento           7.9
370   tt1375666                                      Inception           7.9
872   tt0253474                                    The Pianist           7.9
138   tt2278388                       The Grand Budapest Hotel           7.9

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [266]:
answers['27'] = "-"

ВАРИАНТ 2

# Submission

In [267]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '+ 5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '+ 2. Gods and Generals (tt0279111)',
 '3': '+ 3. Winnie the Pooh (tt1449283)',
 '4': '+ 2. 110',
 '5': '+ 1. 107',
 '6': '+ 5. Avatar (tt0499549)',
 '7': '+ 5. The Lone Ranger (tt1210819)',
 '8': '+ 1. 1478',
 '9': '+ 4. The Dark Knight (tt0468569)',
 '10': '+ 5. The Lone Ranger (tt1210819)',
 '11': '+ 3. Drama',
 '12': '+ 1. Drama',
 '13': '+ 5. Peter Jackson',
 '14': '+ 3. Robert Rodriguez',
 '15': '+ 3. Chris Hemsworth',
 '16': '+ 3. Matt Damon',
 '17': '+ 2. Action',
 '18': '+ 1. K-19: The Widowmaker (tt0267626)',
 '19': '+ 5. 2015',
 '20': '+ 1. 2014',
 '21': '+ 4. Сентябрь',
 '22': '+ 2. 450',
 '23': '+ 5. Peter Jackson',
 '24': '+ 5. Four By Two Productions',
 '25': '+ 3. Midnight Picture Show',
 '26': '+ 1. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '-'}

In [268]:
# и убедиться что ни чего не пропустил)
len(answers)

27